{{define "footer"}}
<ul class="footer__links">
  <li><a href="https://github.com/treyburn/" rel="me" aria-label="GitHub" title="GitHub"><span class="icon icon--github"></span></a></li>
  <li><a href="https://www.linkedin.com/in/travis-reyburn" rel="me" aria-label="Linkedin" title="Linkedin"><span class="icon icon--linkedin"></span></a></li>
  <li><a href="mailto:hey@treyburn.dev" rel="me" aria-label="Email" title="Email"><span class="icon icon--paper-plane"></span></a></li>
  <li><a href="https://treyburn.dev/posts/index.xml" rel="me" aria-label="RSS Feed" title="RSS Feed"><span class="icon icon--rss"></span></a></li>
  <li><a href="https://bsky.app/profile/treyburn.dev" rel="me" aria-label="Bluesky" title="Bluesky"><span class="icon icon--bluesky"></span></a></li>
</ul>
<p class="copyright">made with 🚴 in boulder, co</p>
{{end}}
